<h1> New Contact Form Submission from <%= @contact.first_name %>!</h1>
<p>Here are the details:</p>
<ul>
  <li><strong>Name:</strong> <%= @contact.first_name %> <%= @contact.last_name %></li>
  <li><strong>Email:</strong> <%= @contact.email %></li>
  <li><strong>Phone:</strong> <%= @contact.phone %></li>
  <li><strong>First Language:</strong> <%= @contact.first_language %></li>
  <li><strong>Subject:</strong> <%= @contact.subject %></li>
  <li><strong>Message:</strong> <%= @contact.message %></li>
  <li><strong>Date:</strong> <%= @contact.created_at.strftime("%B %d, %Y") %></li>
</ul>