<div id="<%= dom_id course %>">
  <p>
    <strong>Year:</strong>
    <%= course.year %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= course.title %>
  </p>

  <p>
    <strong>When:</strong>
    <%= course.when %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= course.price %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= course.active %>
  </p>

  <p>
    <strong>Jan:</strong>
    <%= course.jan %>
  </p>

  <p>
    <strong>Feb:</strong>
    <%= course.feb %>
  </p>

  <p>
    <strong>Mar:</strong>
    <%= course.mar %>
  </p>

  <p>
    <strong>Apr:</strong>
    <%= course.apr %>
  </p>

  <p>
    <strong>May:</strong>
    <%= course.may %>
  </p>

  <p>
    <strong>Jun:</strong>
    <%= course.jun %>
  </p>

  <p>
    <strong>Jul:</strong>
    <%= course.jul %>
  </p>

  <p>
    <strong>Aug:</strong>
    <%= course.aug %>
  </p>

  <p>
    <strong>Sep:</strong>
    <%= course.sep %>
  </p>

  <p>
    <strong>Oct:</strong>
    <%= course.oct %>
  </p>

  <p>
    <strong>Nov:</strong>
    <%= course.nov %>
  </p>

  <p>
    <strong>Dec:</strong>
    <%= course.dec %>
  </p>

</div>
